@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/*html, body {*/
/*	height: 100%;*/
/*	width: 100%;*/
/*	top: 0;*/
/*	left: 0;*/
/*	padding: 0;*/
/*	margin: 0 auto;*/
/*	overflow: hidden;*/
/*}*/
body {
	background-color: #44A1A0;
	font-family: 'Lato', sans-serif;
}
.container {
	/*position: absolute;*/
	/*margin: auto;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*right: 0;*/
	/*left: 0;*/
	margin: 0 auto;
	width: 200px;
	height: 200px;
	/*border: 1px solid red;*/
}

.container .cap {
	width: 5px;
	height: 15px;
	border: 5px solid #393E41;
	border-left: none;
	position: absolute;
	margin-left: 160px;
	margin-top: 115px;
}

.container .outer {
	position: absolute;
	top: 100px;
	width: 150px;
	height: 40px;
	border: 7px solid #393E41;
	border-radius: 3px;
	overflow: hidden;
}

.container .outer .inner {
	width: 5px;
	height: 40px;
	background-color: #F7DD4C;
}

.container .outer .inner .face {
	margin: 0 auto;
	position: absolute;
}

.container .outer .inner .face .eye {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #393E41;
}
.container .outer .inner .face .eye.left {
	transform: translateX(50px);
	top: 5px;
}
.container .outer .inner .face .eye.right {
	transform: translateX(100px);
	top: 5px;
}

.container .outer .inner .face .mouth.happy {
	width: 50px;
	height: 10px;
	border-radius: 50%;
	background: none;
	position: absolute;
	top: 18px;
	left: 55px;
	box-shadow: 0 5px 0 0 #393E41;
	visibility: hidden;
}

.container .outer .inner .face .mouth.sad {
	width: 50px;
	height: 10px;
	border-radius: 50%;
	background: none;
	position: absolute;
	top: 28px;
	left: 55px;
	box-shadow: 0 5px 0 0 #393E41;
	transform: rotate(180deg);
}

.charge, .drain {
	width: 100px;
	background-color: #F7DD4C;
	color: #393E41;
	padding: 5px;
	display: block;
	text-align: center;
}

.charged {
	margin: 0 auto;
	position: absolute;
	margin-right: 20px;
	left: 630px;
	top: 40px;
	width: 200px;
}
.charged .full {
	position: absolute;
	top: 20px;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: #393E41;
	visibility: hidden;
}

.buttons {
	margin: 0 auto;
	width: 300px;
	margin-top: -25px;
}
.buttons > div {
	padding-right: 5px;
	display: inline-block;
}
